.panel.panel-primary
    .panel-heading.text-center Featured Courses
    .panel-body
        .row(data-ng-repeat="course in mv.courses | filter:{featured:true}")
            .col-md-12
                a(href="/courses/{{course._id}}") {{course.title}}